<!-- ============================================
     FOOTER CTA
============================================= -->
<section
    class="footer-volunteer"
    style="background-image: url('images/footer-bg.jpg');"
>
    <div class="footer-volunteer-overlay"></div>

    



<!-- ============================================
     MAIN FOOTER
============================================= -->
<footer class="site-footer">

    <div class="container">

        <div class="footer-main">

            <!-- PHONE -->
            <div class="footer-contact-item">

                <i class="fa fa-phone"></i>

                <a href="tel:8283803659">
                    828-380-3659
                </a>

            </div>


            <!-- EMAIL -->
            <div class="footer-contact-item">

                <i class="fa fa-envelope-o"></i>

                <a href="mailto:jhustinhallmanagementteam@gmail.com">
                    jhustinhallmanagementteam@gmail.com
                </a>

            </div>


            <!-- SOCIAL ICONS -->
            <div class="footer-social">

                <a
                    href="https://open.spotify.com/artist/1YQIT518DskrvHFeXiHwSE"
                    target="_blank"
                    class="spotify"
                    aria-label="Spotify"
                >
                    <i class="fa fa-spotify"></i>
                </a>

                <a
                    href="#"
                    target="_blank"
                    aria-label="Facebook"
                >
                    <i class="fa fa-facebook"></i>
                </a>

                <a
                    href="#"
                    target="_blank"
                    aria-label="Instagram"
                >
                    <i class="fa fa-instagram"></i>
                </a>

                <a
                    href="#"
                    target="_blank"
                    aria-label="YouTube"
                >
                    <i class="fa fa-youtube-play"></i>
                </a>

            </div>

        </div>

    </div>
</section>

    <!-- ============================================
         COPYRIGHT
    ============================================= -->

    <div class="footer-bottom">

        <p>
            Copyright © 2021 Jhustin Hall, All rights reserved.
        </p>

    </div>

</footer>