<!-- =====================================================
     JHUSTIN HALL - HEADER
====================================================== -->

<header class="site-header">

    <div class="header-container">

        <!-- ================= LOGO ================= -->

        <div class="header-logo">

            <a href="index.html">
                <img
                    src="images/logo.png"
                    alt="Jhustin Hall Music & Ministry">
            </a>

        </div>


        <!-- ================= DESKTOP NAV ================= -->

        <nav class="main-navigation">

            <ul>

                <li>
                    <a href="index.html">Home</a>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="ministry.html">Ministry</a>
                </li>

                <li>
                    <a href="foundation.html">Foundation</a>
                </li>
                <li>
                    <a href="membership.html">Membership</a>
                </li>
                <li>
                    <a href="store.html">Shop</a>
                </li>


                <li>
                    <a href="blog.html">News</a>
                </li>
                <li>
                    <a href="contact-us.html">Contact Us</a>
                </li>
            </ul>

        </nav>


        <!-- ================= SOCIAL / CART ================= -->

        <div class="header-social">

            <!-- Spotify -->
            <a
                href="https://open.spotify.com/artist/1YQIT518DskrvHFeXiHwSE"
                target="_blank"
                aria-label="Spotify">
                <i class="fa fa-spotify"></i>
            </a>

            <!-- Facebook -->
            <a
                href="#"
                target="_blank"
                aria-label="Facebook">
                <i class="fa fa-facebook"></i>
            </a>

            <!-- Instagram -->
            <a
                href="#"
                target="_blank"
                aria-label="Instagram">
                <i class="fa fa-instagram"></i>
            </a>

            <!-- YouTube -->
            <a
                href="#"
                target="_blank"
                aria-label="YouTube">
                <i class="fa fa-youtube-play"></i>
            </a>

            <!-- Cart -->
            <a
                href="cart.html"
                class="header-cart"
                aria-label="Shopping Cart">

                <i class="fa fa-shopping-cart"></i>

                <span class="cart-count">0</span>

            </a>

        </div>


        <!-- ================= MOBILE BUTTON ================= -->

        <button
            class="mobile-menu-btn"
            id="mobileMenuBtn"
            type="button"
            aria-label="Open Menu"
            aria-expanded="false">

            <span></span>
            <span></span>
            <span></span>

        </button>

    </div>


    <!-- ================= MOBILE NAV ================= -->

    <div class="mobile-navigation" id="mobileNavigation">

        <ul>

            <li>
                <a href="index.html">Home</a>
            </li>

            <li>
                <a href="about.html">About</a>
            </li>

            <li>
                <a href="store.html">Shop</a>
            </li>

            <li>
                <a href="ministry.html">Ministry</a>
            </li>

            <li>
                <a href="foundation.html">Foundation</a>
            </li>

            <li>
                <a href="blog.html">Blog</a>
            </li>

        </ul>


        <!-- Mobile social icons -->

        <div class="mobile-social">

            <a
                href="https://open.spotify.com/artist/1YQIT518DskrvHFeXiHwSE"
                target="_blank"
                aria-label="Spotify">
                <i class="fa fa-spotify"></i>
            </a>

            <a href="#" aria-label="Facebook">
                <i class="fa fa-facebook"></i>
            </a>

            <a href="#" aria-label="Instagram">
                <i class="fa fa-instagram"></i>
            </a>

            <a href="#" aria-label="YouTube">
                <i class="fa fa-youtube-play"></i>
            </a>

            <a href="cart.html" aria-label="Shopping Cart">
                <i class="fa fa-shopping-cart"></i>
            </a>

        </div>

    </div>

</header>